In [1]:
import pandas as pd

code_df = pd.read_html('http://kind.krx.co.kr/corpgeneral/corpList.do?method=download&searchType=13', header=0)[0]

code_df.종목코드 = code_df.종목코드.map('{:06d}'.format)

code_df = code_df[['회사명', '종목코드']]

code_df = code_df.rename(columns={'회사명': 'name', '종목코드': 'code'}) 
code_df.head()
code_df.to_excel('종목코드.xlsx')

        name    code
0        DSR  155660
1      GS글로벌  001250
2  HDC현대산업개발  294870
3     KG동부제철  016380
4      KG케미칼  001390